body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Courier New', monospace;
    line-height: 1.5;
    padding: 4em 1em;
    color: rgb(180, 180, 180);
    background-color: rgb(52, 52, 52);
    /* display: flex; */
    justify-content: center;
  }
    
  h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

h1,
h2,
strong {
    color: rgb(180, 180, 180);
}

.terminalJ {
  display: inline-flex; 
  margin: 0 auto; 
  justify-content: center;
}

.termscript {
  margin: 0 auto; 
}

div.typewriter {
    display: inline-flex; 
}



.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap;  /* Keeps the content on a single line */
    /* margin: 0 auto;  */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(35, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  
  